.form__ContactUsForm{
    row-gap: 45px;
    padding-left: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-right: 320px;
}
.typography__MenuSubheadingStylee{
font-weight: 400;
font-size: 27px;
line-height: 1.375;
font-family: "Saol Text", "Times New Roman", Times, serif;
letter-spacing: 0.01em;
color: rgb(51, 51, 51);
margin-top: 30px;
outline: none;
}
.typography__CopyStyle{
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    font-size: 15.5px;
    line-height: 1.625;
    font-family: "Sofia Pro", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    letter-spacing: 0.04em;
    color: rgb(51, 51, 51);
    outline: none;
}
@media (max-width: 767px){
section img {
    margin-bottom: 0px
}
.typography__CopyStyle{
    font-size: 14px !important;
}
}
input, textarea{
    width: 100%;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-image: initial !important;
    border-bottom: 1px solid rgb(179, 179, 179) !important;
    transition: border 300ms ease-in-out 0s !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 300 !important;
    font-size: 15.5px !important;
    line-height: 1.625 !important;
    font-family: "Sofia Pro", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
    letter-spacing: 0.04em !important;
}
input:not([type ="radio"]),textarea{
    border-radius: 0 !important;
}
input:hover, textarea:hover{
    border-bottom: 1px solid #333 !important;
}

input:focus, textarea:focus{
    box-shadow: none !important;
}
input[type="text" i] {
    padding: 1px 2px;
}
textarea{
    min-height: 120px !important;
    resize: none !important;
}
button{
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    font-size: 15.5px !important;
    line-height: 1.625;
    font-family: "Sofia Pro", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    letter-spacing: 0.04em;
    width: fit-content;
    padding: 5px 20px 7px;
    border: 1px solid rgb(179, 179, 179) !important;
    border-radius: 4px;
    outline: none;
    transform: scale(1);
    transition-property: border, transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
button:hover{
    border: 1px solid #333 !important;
}
/* ---------------------------------------- */
iframe.map_contact {
    border: 0;
    height: 615px;
    width: 100% !important;
    /* width: 515px; */
    
  }
  @media (max-width:767px) {
    iframe.map_contact {
        height: 400px;
        width: 350px;
    }
  }
  .typography__CopyStyle {
    font-weight: 300;
    font-size: 15.5px;
    line-height: 1.625;
    font-family: "Sofia Pro", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    letter-spacing: 0.04em;
    color: rgb(51, 51, 51);
    margin-bottom: 0px;
  }
  .typography__CopyStyle  img{
    width: 16px !important;
    height: 16px;
  }
  a{
    text-decoration: none !important;
    color: unset !important;
    font-family: "Sofia Pro", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    letter-spacing: 0.04em;
  }
  .first{
      width: fit-content !important;
      margin-top: 5px !important;
  }
  .second{
      margin-left: -25px;
      margin-top: 5px !important;
  }
  @media (max-width:767px) {
    .second{
        margin-left: -25px;
    }
  }
  section:nth-child(2),form{
position: relative;
margin: 50px auto !important;
  }