.sliderSection{
    opacity: 1;
    transform: translateY(0px);
    transition-property: opacity, transform;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    transition-delay: 200ms;
    margin: 120px auto;
    position: relative;
}
.sliderSection .typography__HeadingStyle{
font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 1.125;
    font-family: "Saol Display", "Times New Roman", Times, serif;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
    position: absolute;
    padding-left: 15px;
    top: -60px;
    /* left: 100%; */
}
.slider {
	overflow: hidden;
	user-select: none;
	/* cursor: grab; */
    width: 100%;
}

.slider:active {
  cursor: grabbing;
}

.slider-wrapper {
  display: flex;
  overflow-x: scroll;
  overflow: overlay;
  user-select: none;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scrollbar-color: rgb(41, 41, 41) transparent;
}

.slider-wrapper::-webkit-scrollbar {
  height: 100vh;
}

.slider-wrapper::-webkit-scrollbar-track, .slider-wrapper::-webkit-scrollbar-thumb {
  background-color: transparent;
  box-shadow: none;
}

.slider-slide {
  flex-shrink: 0;
  width: 100%;
  user-select: none;
  scroll-snap-align: center;
}

.videoSection{
    opacity: 1;
    transform: translateY(0px);
    transition-property: opacity, transform;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    transition-delay: 200ms;
    margin: 120px auto;
}
.videoSection video{
    letter-spacing: .05rem;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    width: 100%;
}
.videoSection h3{

    font-weight: 300;
    font-size: 16px;
    line-height: 1.25;
    font-family: "Sofia Pro", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
    margin-top: 15px;
    margin-bottom: 5px;
}
@media screen and (min-width: 1200px){
    .videoSection video,
    .videoSection h3,
    .sliderSection .slider{
        width: 1080px;
        display: flex !important;
        justify-content: flex-start;
        align-items: center;
        margin: 0px auto;
    }
}
@media screen and (max-width: 768px){
    .videoSection video,
    .videoSection h3,
    .sliderSection .slider{
        width: 100%;
        justify-content: flex-start;
    }
    .videoSection h3{
        text-align: center;
    }
    .row{
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}
/*QuoteSection*/
.quote__QuoteSection{
grid-column: 1 / -1;
display: flex;
flex-direction: column;
-webkit-box-align: center;
align-items: center;
text-align: center;
opacity: 1;
transform: translateY(0px);
transition-property: opacity, transform;
transition-duration: 500ms;
transition-timing-function: ease-in-out;
transition-delay: 200ms;
padding: 0px 20px;
border-width: 1px;
border-style: solid;
border-color: rgb(51, 51, 51);
border-image: initial;
margin: 120px 30px 60px;
}
@media screen and (min-width: 992px){
    .quote__QuoteSection{
        margin-top: 90px;
        margin-bottom: 150px;
        margin:120px auto;  
        width: 45% !important;      
    }
}
@media screen and (min-width: 768px){
    .quote__QuoteSection{
    width: 60ch;
    margin: 15px auto;
    margin-bottom: 40px;
    justify-self: center;
    }
}
.quote__QuoteSection svg{
    text-align: center;
    width: 44;
    height: 44;
    display: inline-block;
    padding: 0px 10px;
    background: white;
    transform: translateY(-50%);
}
.quote__QuoteSection svg path{
    opacity: 0.25;
    }
.quote__QuoteSection .typography__MenuSubheadingStyle{
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 1.375;
    font-family: "Saol Text", "Times New Roman", Times, serif;
    letter-spacing: 0.01em;
    color: rgb(51, 51, 51);
    margin-top: 30px;
    margin-bottom: 0px;
}
.quote__QuoteSection svg:last-child{
    transform: translateY(50%);
}
.owl-carousel {
    position: relative;
    top: 0px;
    left: 0px;
    /* object-fit: cover; */
    object-position: center center;
    opacity: 1;
    transition: opacity 500ms ease 0s;
}
.owl-carousel img{
    height: 800px !important;
    display: block;

}
.owl-item {
    text-align: center;
    padding: 100px 0;
  }
  
  .owl-prev,
  .owl-next 
  {display: block;
      font-size: 30px !important;
    z-index: 66;
    margin:10px;
    /* position: absolute; */
    bottom: 0;
  }
  .slider-counter {
      position: relative;
      right: 23%;
      top: 100%;
    text-align: right;
  }
  
  .info {
    text-align: center;
    margin-top: 110px;
  }